<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>DesiBell - بازنشانی رمز عبور</title>
    <th:block th:include="fragment/layout::headFragment"></th:block>
</head>
<body class="dark ">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" th:action="@{/forgetPassword/reset}" method="post" th:object="${resetPasswordDomain}">
                <div class="mx-auto text-center my-4">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="../../../">
                        <img src="../../../assets/images/logo/v1.22.png" width="75px" height="75px" style="border-radius: 50%;">
                    </a>
                    <h2 class="my-3">بازنشانی رمز عبور</h2>
                </div>
                <p class="text">آدرس ایمیل خود را وارد کنید و ما یک ایمیل برای بازنشانی رمزعبور برای شما ارسال می کنیم</p>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" th:field="*{email}" name="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
                    <div th:if="${error != null && error.contains('invalidUser')}" class="text-danger mt-2">کاربری با این ایمیل وجود ندارد</div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">بازنشانی رمز عبور</button>
                <hr class="my-4">
                <p class="mt-4 mb-2"><a th:href="@{../../login}" class="text-info">ورود به حساب کاربری</a></p>
                <p class="mt-5 mb-3 text-muted">© DesiBell 2022</p>
            </form>
        </div>
    </div>
    <div th:replace="fragment/layout::scripts"></div>
</body>
</html>
