<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>DesiBell - تغییر رمز عبور</title>
    <th:block th:include="fragment/layout::headFragment"></th:block>
</head>
<body class="dark ">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" th:action="@{/forgetPassword/changePassword(token = ${token})}" method="post" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="mx-auto text-center my-4">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="../../../">
                        <img src="../../../assets/images/logo/v1.22.png" width="75px" height="75px" style="border-radius: 50%;">
                    </a>
                    <h2 class="my-3">تغییر رمز عبور</h2>
                </div>
                <div th:if="${error != null && error.contains('invalidToken')}" class="alert alert-danger" role="alert">
                    پیوند منقضی شده یا یک بار قبلا استفاده شده است
                </div>
                <div th:if="${error != null && error.contains('invalidUser')}" class="alert alert-danger" role="alert">
                    شما دسترسی به تغییر رمزعبور این کاربر ندارید
                </div>
                <p class="text">جهت تغییر رمز عبور قدیمی، رمز عبور جدیدی را ایجاد کنید</p>
                <div class="form-group text-right">
                    <label for="input-newPassword" class="sr-only">رمز عبور جدید</label>
                    <input type="password" class="form-control form-control-lg" id="input-newPassword" th:field="*{password}" placeholder="رمز عبور جدید" required="">
                    <i class="fe fe-eye form-control-lg hide reset-form" id="togglePassword" onclick="showPassword()"></i>
                    <div th:if="${error != null && error.contains('length')}" class="text-danger small">طول رمزعبور باید 6 یا بیشتر از 6 کاراکتر باشد</div>
                    <div th:if="${error != null && error.contains('letter')}" class="text-danger small">رمزعبور باید حداقل شامل یک حرف انگلیسی باشد</div>
                    <div th:if="${error != null && error.contains('number')}" class="text-danger small">رمزعبور باید حداقل شامل یک عدد باشد</div>
                    <div th:if="${error != null && error.contains('space')}" class="text-danger small">رمزعبور نباید شامل فاصله باشد</div>
                </div>
                <div class="form-group text-right">
                    <label for="input-confirmNewPassword" class="sr-only">تکرار رمز عبور جدید</label>
                    <input type="password" class="form-control form-control-lg" id="input-confirmNewPassword" th:field="*{confirmPassword}" placeholder="تکرار رمز عبور جدید" required="">
                    <div th:if="${error != null && error.contains('notSame')}" class="text-danger small">رمزعبور و تکرار آن یکسان نیست</div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">ایجاد رمز عبور جدید</button>
                <hr class="my-4">
                <p class="mt-4 mb-2"><a th:href="@{../../../}" class="text-primary">بازگشت به دسی بل</a></p>
                <p class="mt-5 mb-3 text-muted">© DesiBell 2022</p>
            </form>
        </div>
    </div>
    <div th:replace="fragment/layout::scripts"></div>
    <script>
        
        const input = document.querySelector('#input-newPassword');
        const iconShow = document.getElementById('togglePassword');
        input.addEventListener('input', inputPassword);
        
        function inputPassword(){
            if(input.value !== ""){
                iconShow.classList.remove('hide');
                iconShow.classList.add('show');
            } else{
                iconShow.classList.remove('show');
                iconShow.classList.add('hide');
            }
            
        }

        function showPassword() {
            var inputPassword = document.getElementById("input-newPassword");
            var inputConfirmPassword = document.getElementById("input-confirmNewPassword");
            var icon = document.getElementById("togglePassword");
            if (inputPassword.type === "password") {
              inputPassword.type = "text";
              inputConfirmPassword.type = "text";
              icon.classList.remove('fe-eye');
              icon.classList.add('fe-eye-off');
            } else {
              inputPassword.type = "password";
              inputConfirmPassword.type = "password";
              icon.classList.remove('fe-eye-off');
              icon.classList.add('fe-eye');
            }
            
        }
        
    </script>
</body>
</html>
