<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>DesiBell - شروع به کار</title>
    <th:block th:include="fragment/layout::headFragment"></th:block>
</head>
<body class="vertical  dark  ">
    <div class="wrapper">
        <div th:replace="fragment/layout::navFragment"></div>
        <div th:replace="fragment/layout::asideFragment"></div>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card card-fill timeline">
                            <div class="card-header">
                                <strong class="card-title">شروع کنید</strong>
                            </div>
                            <div class="card-body">

                                <div class="pb-3 timeline-item item-danger">
                                    <div class="pl-5">
                                        <p>
                                            برای استفاده از امکانات سایت ابتدا باید یک حساب کاربری ایجاد کنید و همچنین یک اشتراک برای حساب خود فعال سازی کنید
                                        </p>
                                        <p>
                                            برای ایجاد حساب کاربری کافیست یک شماره تلفن همراه و یک ایمیل معتبر داشته باشید سپس به صفحه ثبت نام رفته و فرم ثبت نام را تکمیل کنید
                                            <a href="https://s6.uupload.ir/files/1_b2kg.png" target="_blank">(راهنما)</a>

                                        </p>
                                        <p>
                                            پس از ایجاد حساب کاربری لازم است به حساب کاربری خود از طریق شماره تلفن همراه و رمز عبور خود، وارد شوید 
                                            <a href="https://s6.uupload.ir/files/2_pqql.png" target="_blank">(راهنما)</a>
                                        </p>


                                        <p>
                                            سپس برای فعال سازی پنل اشتراک خود یک اشتراک از صفحه خرید اشتراک انتخاب و عملیات پرداخت را انجام دهید 
                                            <a href="https://s6.uupload.ir/files/3_qoou.png" target="_blank">(راهنما)</a>
                                        </p>


                                        <p>
                                            سپس به پنل اشتراک خود وارد شوید و شماره همراه خود را در پنل اشتراک اضافه و تایید کنید 
                                            <a href="https://s6.uupload.ir/files/4_l259.png" target="_blank">(راهنما)</a>
                                        </p>

                                        <p>
                                            توجه کنید که در این صفحه لازم نیست حتما شماره تلفن همراه حساب کاربری خود را وارد کنید و می توانید هر شماره دیگری را در این صفحه وارد کنید ولی باید حتما شماره اضافه شده تایید شود
                                        </p>
                                        <p>
                                            سپس از طریق "لیست ارزهای شما" می توانید ارزهای مورد نظرتان را وارد کنید 
                                            <a href="https://s6.uupload.ir/files/5_2eu5.png" target="_blank">(راهنما)</a>
                                        </p>
                                        <p>
                                            روی "اضافه کردن ارز جدید" کلیک کنید 
                                            <a href="https://s6.uupload.ir/files/6_no6k.png" target="_blank">(راهنما)</a>
                                        </p>
                                        <p>
                                            در صفحه باز شده ارز دیجیتال دلخواه خود را انتخاب کنید و سپس بازه قیمتی و تغییرات را تعیین کنید 
                                            <a href="https://s6.uupload.ir/files/7_myvg.png" target="_blank">(راهنما)</a>
                                        </p>
                                        <p>
                                            لازم به ذکر است که داده های دور از واقعیت و اشتباه مورد بررسی قرار نمی گیرد بنابراین دقت لازم را برای تعیین اطلاعات در این قسمت را در نظر بگیرید
                                        </p>
                                        <p>
                                            سپس روی ذخیره ارز کلیک کنید 
                                            <a href="https://s6.uupload.ir/files/8_dhzd.png" target="_blank">(راهنما)</a>
                                        </p>
                                        <p>
                                            در قسمت بالای پنل اشتراک یک قسمت به نام "فعال سازی" وجود دارد که درصورت تمایل برای دریافت نکردن پیامک می توانید پنل اشتراک خود را غیرفعال کنید. به صورت پیشفرض پنل اشتراک افراد فعال است
                                            <a href="https://s6.uupload.ir/files/9_km0.png" target="_blank">(راهنما)</a>
                                        </p>

                                    </div>
                                </div>
                            </div> <!-- / .card-body -->
                        </div> <!-- / .card -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
                <div th:replace="fragment/layout::footer"></div>
            </div> <!-- .container-fluid -->
            <div th:replace="fragment/layout::notification"></div>
            <div th:replace="fragment/layout::shortcut"></div>
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <div th:replace="fragment/layout::scripts"></div>
</body>
</html>